.Container{
    position: relative;
    background-color:#78A6C8;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
    display: flex;
    flex-direction: row-reverse;
    width: 85%;
    height: 340px;
    border-radius: 10px;
    margin: 30px auto;

}
.right{
    padding: 0 5px;
    background-color: rgba(102, 51, 1530,0.5);
    width: 200px;
    margin: 15px auto;
    position: absolute ;
    background-color: rgba(89, 89, 145,0.1);
}
.right img{
    position: absolute;
    z-index: 100;
    width: 200px;
    top: 34px;
    right: 2px;
    color: red;
}
.left img{
   margin-top: 10px;
   border-radius: 20px;
}

.left{
    position: absolute;
    right: 95px;
    padding: 0 30px;
    max-width: 75%;
    text-align: center;
    display: flex;
    margin: 20px 20px;
    overflow-x:scroll;
    margin: 15px auto;
    /* justify-content: space-evenly; */
    position: relative;
}
.left::-webkit-scrollbar{

    height:5px;
    width: 10px;
    background-color:#E9EEF2;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
    width: 20px;
  }
::-webkit-scrollbar-thumb{
    background-color: #E65C4F;
    width: 10px;
    height: 10px;
}
.card{
    margin: 10px 10px;
    place-items: center;
    width: 400px;
    height: 250px;
    box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
    border-radius: 15px;
    border-top: 1px solid rgba(255,255,255,0.5);
    border-left:1px solid rgba(255,255,255,0.5);
    background:rgba(255,255,255,0.1);
    backdrop-filter: blur(5px);
   
}
.card h3{
    margin-bottom: 0px;
    text-decoration:line-through
    rgb(117, 2, 2) 2px ;
}
.card span{
    color: rgb(117, 2, 2);
    font-size: 22px;
    font-weight: bold;
}
@media screen and (max-width: 600px) {
    .Container{height: 240px;}
    .right{
        flex-grow: 1;
        width: 10px;
        margin: 10px auto;
    }
    .left{
        flex-grow: 2;
    max-width: 62%;
    margin: 0 0;
    margin-right:10px;

    }
    .right img{
        z-index: 100;
        width:100px;
        top: 50px;
        right: 2px;
    }
    .card{
        margin: 10px 10px;
        width: 200px;
        height: 220px;
    }
    .card img{
        width: 140px;
        height: 100px;

    }
   
    .card h3{
font-size: 20px;    }
    .card span{
        font-size: 20px;
    }
}