.container{
    position: absolute;
    top: 10px;
    right: 80px;
    padding: 10px 30px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.5);
  background-color: rgba(1, 21, 24, 0.5);
  border-radius: 10px;
  

}
.ul{
  list-style-type: none;
  /* text-align: center; */

}
.ul li{
    /* width: 80%; */
    margin: 10px 5px;
    color:#e65c4f;
}
.ul li:hover{
  color: #E9EEF2;
    transform: scale(1.2,1.2);
    cursor: pointer;
}
.off{display: none;}
@media screen and (max-width: 600px) {
  .off{display: inline;}
  .container{
    top: 34px;
    right: -5px;
  }
  }