.container{
    /* position: absolute;
    right: 180px;
    top:150px; */
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 150px;
    margin-bottom: 10px;
    width: 80%;
    background-color: #78A6C8;
    display: flex;
    flex-direction: row;
    padding: 30px 20px;
    justify-content: space-between;
}
.container img{
    margin-right: 100px;
    width: 400px;
    border-radius: 10px;
}
.title{
    display:  flex;
    flex-direction: column;
    margin-top: 100px;
    justify-content: space-between;
}
.title p{
    margin-bottom: 20px;
}
.title span{
    font-size: 22px;
    font-weight: bold;
}
.container button{
    margin: 20px auto;
    display: flex;
    align-items: center;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    padding: 0.7em 1.4em 0.7em 1.1em;
    color: white;
    background: #ad5389;
    background: linear-gradient(0deg, rgba(20,167,62,1) 0%, rgba(102,247,113,1) 100%);
    border: none;
    box-shadow: 0 0.7em 1.5em -0.5em #14a73e98;
    letter-spacing: 0.05em;
    border-radius: 20em;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}
:link{
    text-decoration: none;
    color: black;

}
:visited{
    color: black;
}
@media screen and (max-width: 600px) {
    .container img{
        margin-right: 10px;
        width: 300px;
        border-radius: 10px;
    }
    .container{
        flex-direction: column;
    }

}
